<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-mailto</string>
	<key>category</key>
	<string>Communication</string>
	<key>connections</key>
	<dict>
		<key>89A40786-12E8-4A60-B018-86009F3C0660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CED507AD-5BAE-4B73-89F4-B5821D117157</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CED507AD-5BAE-4B73-89F4-B5821D117157</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8550C579-13D1-4CC6-984E-11A6ADEC72EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CF6D257B-1578-4C99-A089-2DBAA53E61F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CED507AD-5BAE-4B73-89F4-B5821D117157</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Send mail to contacts and groups from your Address Book</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MailTo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>@</string>
				<key>runningsubtext</key>
				<string>Searching Contacts …</string>
				<key>script</key>
				<string>/usr/bin/python mailto.py search "{query}"</string>
				<key>subtext</key>
				<string>Hit ENTER to compose a new mail</string>
				<key>title</key>
				<string>Compose New Mail for Recipients</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89A40786-12E8-4A60-B018-86009F3C0660</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>MailTo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8550C579-13D1-4CC6-984E-11A6ADEC72EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python mailto.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CED507AD-5BAE-4B73-89F4-B5821D117157</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mailto</string>
				<key>runningsubtext</key>
				<string>Loading settings …</string>
				<key>script</key>
				<string>/usr/bin/python mailto.py config "{query}"</string>
				<key>subtext</key>
				<string>View and alter your MailTo settings</string>
				<key>title</key>
				<string>MailTo Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CF6D257B-1578-4C99-A089-2DBAA53E61F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Send a new email message with the email client of your choice. You can add multiple recipients or Groups from your Contacts and/or enter email addresses manually. Please see the built-in help (mailto help) for more information.</string>
	<key>uidata</key>
	<dict>
		<key>8550C579-13D1-4CC6-984E-11A6ADEC72EA</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>89A40786-12E8-4A60-B018-86009F3C0660</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CED507AD-5BAE-4B73-89F4-B5821D117157</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>CF6D257B-1578-4C99-A089-2DBAA53E61F4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
